<div class="flex justify-between w-full h-full">
  <div class="flex">
    <div class="p-20">
      <app-calendar-container
        [scheduleDetail]="scheduleDetail"
        (selectDateEvent)="passScheduleDetail($event)"
      ></app-calendar-container>
    </div>
    <div class=" pt-20">
      <app-schedule-detail [selectedActivity]="selectedActivity"
                           (clickButtonEvent)="onButtonClickEvent($event)"></app-schedule-detail>
    </div>
  </div>

  <div [ngClass]="displayDrawer ? 'translate-x-0 ' : 'translate-x-full'" class="transform transition duration-400 h-full w-full bg-gray-200 shadow-xl px-6 pb-6 border-l">
    <app-drawer></app-drawer>
  </div>
</div>
